* {
  border: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo", "CaskaydiaMono Nerd Font Mono",
    "Roboto", "Helvetica", "Arial", "sans-serif";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

button {
  border-radius: 3px;
  background-color: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

#workspaces button {
  color: #ffffff;
}

#workspaces button.active {
  background: #64727d;
  transition-duration: 0.2s;
  transition-property: background-color;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  text-shadow: none;
  background: none;
  background-color: rgba(150, 150, 150, 0.15);
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#clock {
  background-color: #64727d;
}

#battery {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#window,
#custom-power,
#keyboard-state,
#mpris,
#power-profiles-daemon {
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 5px;
  border-radius: 6px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 8px;
}

#battery.charging,
#battery.plugged,
#battery.critical:not(.charging) {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 5px;
  border-radius: 6px;
  color: white;
}
#custom-mpris {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 5px 0px 0px;
  border-radius: 6px;
}

#custom-power {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0px 5px;
  border-radius: 6px;
  margin-top: 6px;
  margin-right: 6px;
}

label:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

window#waybar.empty #window {
  transition-duration: 0;
  background: none;
}

@keyframes blink {
  to {
    background-color: rgba(0, 0, 0, 0.6);
    color: red;
    padding: 0px 5px;
    border-radius: 6px;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

